
    
body{
    background-color: rgb(42, 37, 46);
    
}

.container{
    text-align: center;
}
.title{
    font-size: 66px;
    color: greenyellow;
}
.counter{
    font-size: 86px;
    color: greenyellow;
}
.btn{
    background-color: brown;
    color: beige;
    padding: 10px 24px;
    border: none;
    cursor: pointer;
    border-radius: 24px;
}
